

# Resume file path (default: Resume.pdf)
RESUME_PATH=Resume.pdf

# Google Sheets Spreadsheet ID (optional, default: 1MxfvJ-tJR6lZkgfv_KfbvD1F-vi7bvrmvd-3fkUtWVo)
SPREADSHEET_ID=1MxfvJ-tJR6lZkgfv_KfbvD1F-vi7bvrmvd-3fkUtWVo

# Browser-Act Profile ID (e.g. chrome_local_12345)
BROWSER_ACT_PROFILE=chrome_local_104725754939323604

# LLM Keys Configuration (You can define multiple accounts/keys comma-separated for rotation)
GROQ_ACCOUNT_1=key1,key2
NVIDIA_ACCOUNT_1=key1
GEMINI_ACCOUNT_1=key1