# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/

# VS Code
.vscode/

# Output files
output/

# Credentials
token.json
client_secret*.json

# Logs

outputs/
test.pdf
*.docx

certificates.json
projects.json